body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
          box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.main-navigation {
  position: relative;
}

.main-logo {
  position: absolute;
  top: 0;
  left: 50%;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation-list li {
  width: 20%;
  padding-top: 14px;
  padding-bottom: 16px;
}

.main-navigation-list li:nth-child(1) {
  padding-left: 72px;
}

.main-navigation-list li:nth-child(3) {
  margin-left: auto;

  text-align: right;
}

.main-navigation-list li:nth-child(4) {
  padding-right: 72px;

  text-align: right;
}

.main-nav-link {
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.main-nav-link:hover,
.main-nav-link:focus {
  color: #81b3d2;
}

.main-nav-link:active {
  color: rgba(0,0,0,0.3);
}

.main-nav-current,
.main-nav-current:hover {
  font-weight: bold;
  line-height: 26px;
  color: #766357;
}

.intro {
  margin-bottom: 60px;
}

.advantages {
  margin-bottom: 49px;

  text-align: center;
}

.lead {
  margin-bottom: 51px;
}

.lead p {
  margin-top: 27px;
}

.advantages strong {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.advantages-text {
  font-size: 14px;
  line-height: 26px;
}

.numbering {
  display: inline-block;
  margin-bottom: 6px;
}

.other-advantages-heading,
.more-advantages-heading,
.advantages-heading {
  margin-top: 0;
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.more-advantages-heading,
.advantages-heading {
  margin-bottom: 24px;
}

.village,
.bridge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;

  color: #ffffff;

  background-color: #81b3d2;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.advantages-content {
  margin: 0;
  padding-right: 47px;
  padding-left: 47px;
}

.advantages-heading {
  color: #ffffff;
}

.more-advantages-list,
.other-advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.other-advantages-item {
  width: 33%;
  padding-right: 47px;
  padding-left: 47px;
}

.more-advantages-item {
  width: 33%;
  padding-right: 60px;
  padding-left: 60px;
}

.other-advantages {
  margin: 0;
  padding: 0;
}

.other-advantages-heading {
  position: relative;
}

.other-advantages-heading::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 50%;

  width: 78px;
  height: 78px;

  background-repeat: no-repeat;
  background-position: bottom center;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.housing::before {
  background-image: url(../img/icon-1.svg);
}

.food::before {
  background-image: url(../img/icon-2.svg);
}

.souvenirs::before {
  background-image: url(../img/icon-3.svg);
}

.other-advantages-list {
  padding-top: 161px;
  padding-bottom: 68px;
}

.more-advantages-list {
  padding-top: 47px;
  padding-bottom: 47px;

  background-color: #eeeeee;
}

.hotel-search {
  position: relative;

  text-align: center;
}

.hotel-search b {
  display: inline-block;
  margin: 0;
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.hotel-search-text {
  margin: 0;
  margin-bottom: 47px;

  line-height: 24px;
}

.search-button {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 568px;
  padding: 30px 50px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;

  background-color: #766357;
}

.search-button:hover,
.search-button:focus {
  background-color: #604e43;
}

.search-button:active {
  color: rgba(255,255,255,0.3);

  background-color: #503e33;
}

.search-form {
  position: absolute;
  left: 50%;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 568px;
  padding: 55px;

  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.search-form input {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 346px;
  margin: 0;
  padding: 6px 12px;

  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 0;
  outline: none;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  padding: 4px 10px;

  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.search-form input::-webkit-input-placeholder {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.search-form input:-ms-input-placeholder {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.search-form input::-ms-input-placeholder {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.search-form input::placeholder {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.search-form-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;;
}

.search-form-date:nth-child(2) {
  margin-bottom: 30px;
}

.search-form-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.input-container {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.search-form-number .input-container input {
  width: 114px;
  margin: 0;

  text-align: center;
}

.search-form-number .input-container input::-webkit-outer-spin-button,
.search-form-number .input-container input::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

.number-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 226px;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.number-container:nth-child(2) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 47px;
}

.form-button {
  position: absolute;
  cursor: pointer;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  height: 38px;

  background-color: transparent;
  border: 0;
}

.calendar {
  right: 0;
}

.calendar svg,
.minus svg,
.plus svg {
  fill: #a9a9a9;
}

.calendar:hover svg,
.calendar:focus svg,
.minus:focus svg,
.minus:hover svg,
.plus:focus svg,
.plus:hover svg {
  fill: #000000;
}

.calendar:active svg,
.minus:active svg,
.plus:active svg {
  fill: #81b3d2;
}

.minus {
  left: 0;
}

.plus {
  right: 0;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 16px 50px;
  cursor: pointer;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: 0;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #669ec0;
}

.submit-button:active {
  color: rgba(255,255,255,0.3);

  background-color: #5496bd;
}

.map {
  width: 1200px;
  height: 595px;

  background-image: url(../img/map.jpg);
  background-position: center;
}

.main-footer {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 72px;

  background-color: rgba(255, 255, 255, 0.9);

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.index .main-footer {
  margin-top: -120px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin: 3px;

  background-color: #81b3d2;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.main-footer b {
  display: block;
  margin: 0px;
  width: 260px;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.website-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  justify-content: center;
  align-items: center;
  margin: 0;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.htmlacademy {
  margin-top: 5px;
  margin-left: 8px;
}

.htmlacademy:hover path,
.htmlacademy:focus path {
  fill: #81b3d2;
}

.htmlacademy:active path {
  fill: #bdbbbc;
}

/* страница гостиниц */

.filter {
  padding: 30px 72px;

  background-color: #79a0c3;
  background-image: url("../img/hotels-background.jpg");
  background-position: center;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: -3px;

  color: #ffffff;
}

.filter-form-fieldset{
  border: 0px;
  min-width: 240px;
  padding: 0px;
  margin: 0px;
  margin-right: 15px;
}

.filter-form-fieldset:nth-last-child(1),
.filter-form-fieldset:nth-last-child(2){
  margin-right: 0px;
}

.filter-form-list {
  padding: 0;
  margin: 0px;
}

.filter-form-item{
  margin-bottom: 23px;
}

.infrastructure .filter-form-item:nth-last-child(1),
.housing-type .filter-form-item:nth-last-child(1){
  margin-bottom: 0px;
}

.filter-form legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 23px;
}

.checkbox-label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 40px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.checkbox-label::before{
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-position: left;
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + .checkbox-label::before{
  background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:disabled + .checkbox-label::before{
  background-image: url(../img/checkbox-off-disabled.svg);
}

.filter-input-checkbox:checked:disabled + .checkbox-label::before{
  background-image: url(../img/checkbox-on-disabled.svg);
}

.price{
  width: 318px;
  margin-left: auto;
}
.price-controls{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-top: -13px;
  margin-bottom: 20px;
  height: 32px;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.price-controls::after {
  content: "";
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  width: 2px;
  height: 22px;
  background: #ffffff;
}

.min-price,
.max-price{
  display: inline-block;
  cursor: pointer;
  width: 49%;
  box-sizing: border-box;
}

.min-price{
  padding-left: 65px;
}

.max-price{
  padding-left: 52px;
}

.price-controls input{
  width: 50px;
  margin: 0;

  border: none;
  background-color: transparent;
}

.price-controls input::placeholder,
.price-controls input::placeholder{
  color: #ffffff;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.show-hotel {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.show-hotel:hover,
.show-hotel:focus {
  color: #000000;

  background-color: #ffffff;
}

.filter-form-list,
.sorting-list,
.sorting-direction-list {
  list-style: none;
}

.sorting {
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 72px;

  border-bottom: 1px solid #e5e5e5;
}

.sorting div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-left: 48px;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0px;
  margin-left: 40px;

  font-size: 12px;
  line-height: 18px;
}

.sorting-list li {
  margin-right: 33px;
}

.sorting b {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sorting-text {
  color: #000000;
  margin: 0px;
}

.sorting-link-active {
  color: #81b3d2;
  text-decoration: none;
}
.sorting-text,
.sorting-list {
  font-size: 12px;
  line-height: 18px;
}

.sorting-link {
  color: rgba(0,0,0,0.3);
          text-decoration: underline dotted #81b3d2;

  -webkit-text-decoration: underline dotted #81b3d2;
}

.sorting-link:hover,
.sorting-link:focus {
  color: #81b3d2;
}

.sorting-link:active {
  color: #000000;
  text-decoration: none;
}

.sorting-direction-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  margin-left: auto;
}

.sorting-direction-list li{
  margin-left: 12px;
}

.sorting-direction-list li:nth-child(1){
  margin-left: 0px;
}

.sorting-directoin-link-active svg,
.sorting-directoin-link:active svg{
  fill: #81b3d2;
}

.sorting-directoin-link svg{
  fill: #cacaca;
}

.sorting-directoin-link:hover svg,
.sorting-directoin-link:focus svg{
  fill: #231f20;
}

.catalog-list {
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 30px 72px;

  border-bottom: 1px solid #e5e5e5;
}

.catalog-item-content {
  align-items: center;
  margin-left: 30px;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.rating {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rating-stars{
  display: flex;
  flex-direction: row-reverse;
}

.rating-stars span{
  display: block;
  margin: 0px;
  margin-left: 6px;
  width: 18px;
  height: 18px;

  background-image: url(../img/star.svg);
}

.rating-text{
  display: block;
  padding: 3px 16px;
  background-color: #f2f2f2;
  margin: 0px;
  margin-top: auto;
}

.hotel-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel-column {
  margin-right: 6px;
}

.hotel-column p{
  margin-top: 8px;
  margin-bottom: 14px;
  margin-right: 15px;
}

.hotel-column :nth-child(2n) {
  margin: 0;
}

.hotel-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 184px;
  margin: 0;
  padding: 0;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.hotel-name h3 {
  display: block;
  margin: 0;
  margin-top: -5px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.hotel-name h3:hover,
.hotel-name h3:focus {
  color: #81b3d2;
}

.hotel-name h3:active {
  color: rgba(0,0,0,0.3);
}

.card-button {
  display: block;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;

  padding: 3px 17px;
  width: 100%;

  background-color: #81b3d2;
}

.card-button:hover,
.card-button:focus {
  background-color: #669ec0;
}

.card-button:active {
  color: rgba(255,255,255,0.3);

  background-color: #5496bd;
}

.card-button-booking {
  display: block;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;

  padding: 3px 17px;
  width: 100%;

  background-color: #766357;
}

.card-button-booking:hover,
.card-button-booking:focus {
  background-color: #604e43;
}

.card-button-booking:active {
  color: rgba(255,255,255,0.3);

  background-color: #503e33;
}
