body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img{
  vertical-align: bottom;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
  max-width: 1200px;
  min-width: 768px;
  background-color: #ffffff;
  margin: 0 auto;
}

.main-navigation{
  position: relative;
}

.main-logo{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-navigation-list{
  display: flex;

  margin: 0;
  padding: 15px 72px;

  list-style: none;
}

.main-navigation-list li{
  width: 20%;
}

.main-navigation-list li:nth-child(3){
  margin-left: auto;
  text-align: right;
}

.main-navigation-list li:nth-child(4){
  text-align: right;
}

.main-nav-link{
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.main-nav-link:hover,
.main-nav-link:focus{
  color: #81b3d2;
}

.main-nav-link:active{
  color: rgba(0,0,0,0.3);
}

.main-nav-current,
.main-nav-current:hover{
  line-height: 26px;
  font-weight: bold;
  color: #766357;
}

.intro{
  margin-bottom: 62px;
}

.advantages{
  text-align: center;
  margin-bottom: 55px;
}

.lead{
  margin-bottom: 57px;
}

.advantages strong{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.advantages-text{
  font-size: 14px;
  line-height: 26px;
}

.other-advantages-heading,
.more-advantages-heading,
.advantages-heading{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;

  margin-top: 0px;
}

.village,
.bridge{
  background-color: #81b3d2;
  display: flex;
  color: #ffffff;
  align-items: center;
}

.advantages-content{
  padding-left: 60px;
  padding-right: 60px;
  margin: 0px;
}

.advantages-heading{
  color: #ffffff;
}

.more-advantages-list,
.other-advantages-list{
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.more-advantages-item,
.other-advantages-item{
  width: 33%;
  padding-left: 72px;
  padding-right: 72px;
}

.other-advantages{
  margin: 0px;
  padding: 0px;
}

.other-advantages-list{
  min-height: 330px;
}

.more-advantages-list{
  padding-top: 45px;
  padding-bottom: 57px;
  background-color: #eeeeee;
}

.hotel-search{
  text-align: center;
}

.hotel-search b{
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000
}

.hotel-search-text{
  line-height: 24px;
}

.search-button{
  display: inline-block;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
/*
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 35px;
  padding-bottom: 35px;

  margin-left: 140px;
  margin-right: 140px;
  margin-top: 65px;
*/
  background-color: #766357
}

.search-button:hover,
.search-button:focus{
  background-color: #604e43
}

.search-button:active{
  color: rgba(255,255,255,0.3);
  background-color: #503e33
}

.submit-button{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;

  border:0px;
}

.submit-button:hover,
.submit-button:focus{
  background-color: #669ec0;
}

.submit-button:active{
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.search-form{
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.main-footer{
  display: flex;
  justify-content: space-between;
  padding: 36px 72px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-social{
  display: flex;

  list-style: none;

  padding: 0px;
}

.social-button{
  margin-right: 6px;
}

.social-button :nth-child(3){
  margin: 0px;
}

.main-footer b{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.filter{
  background-color: #79a0c3;
  background-image: url("../img/hotels-background.jpg");
  background-position: center;

  padding: 30px 72px;
}

.filter-form-price{
  margin-left: auto;
}

.filter-form{
  display: flex;

  color: #ffffff;
}

.filter-form-list{
  padding: 0px;
}

.filter-form legend{
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}
.show-hotel{
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;

  background-color: transparent;
}

.show-hotel:hover,
.show-hotel:focus{
  color: #000000;
  background-color: #ffffff;
}

.filter-form-list,
.sorting-list,
.sorting-direction-list{
  list-style: none;
}

.sorting{
  display: flex;
  padding: 30px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting div{
  display: flex;
}

.sorting-list{
  font-size: 12px;
  line-height: 18px;
  padding: 0px;

  display: flex;
}

.sorting-list li{
  margin-right: 30px;
}

.sorting-direction-list{
  display: flex;
  margin-left: auto;
}

.sorting b{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.sorting-text{
  color: #000000;
}

.sorting-link-active{
  text-decoration: none;
  color: #81b3d2;
}
.sorting-text,
.sorting-list{
  font-size: 12px;
  line-height: 18px;
}

.sorting-link{
  text-decoration: underline dotted #81b3d2;
  color: rgba(0,0,0,0.3);
}

.sorting-link:hover,
.sorting-link:focus{
  color: #81b3d2;
}

.sorting-link:active{
  text-decoration: none;
  color: #000000;
}

.catalog-list{
  padding: 0px;
  margin: 0px;
}

.catalog-item{
  display: flex;
  padding: 30px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item-content{
  align-items: center;
  margin-left: 30px;
}

.rating{
  margin-left: auto;
}

.hotel-description{
  display: flex;
}

.hotel-column{
  margin-right: 6px;
}

.hotel-column :nth-child(2n){
  margin: 0px;
}

.hotel-content{
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 184px;
  justify-content: space-between;
}

.hotel-name h3{
  margin: 0px;
}

.hotel-name{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.hotel-name:hover,
.hotel-name:focus{
  color: #81b3d2;
}

.hotel-name:active{
  color: rgba(0,0,0,0.3);
}

.card-button{
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;

  background-color: #81b3d2;
}

.card-button:hover,
.card-button:focus{
  background-color: #669ec0;
}

.card-button:active{
  color: rgba(255,255,255,0.3);

  background-color: #5496bd;
}

.card-button-booking{
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;

  background-color: #766357;
}

.card-button-booking:hover,
.card-button-booking:focus{
  background-color: #604e43;
}

.card-button-booking:active{
  color: rgba(255,255,255,0.3);

  background-color: #503e33;
}
